.bus-sity:hover .bst0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst1 {
  fill: #E8E862;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst2 {
  fill: #FCFF6E;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst3 {
  fill: #E2E2E2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst4 {
  font-family: 'MyriadPro-Regular'; }

.bus-sity:hover .bst5 {
  font-size: 10px; }

.bus-sity:hover .bst6 {
  fill: #94EAB3;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst7 {
  fill: #B1F2C7;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst8 {
  fill: #99176B;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst9 {
  fill: #F3379D;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst10 {
  fill: none;
  stroke: #00C3F7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst11 {
  fill: #FC1059;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst12 {
  fill: #7442BC;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst13 {
  fill: #5BE2E8;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst14 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst15 {
  fill: #9B9B7C;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst16 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst17 {
  fill: #33B9DD;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst18 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst19 {
  fill: #F3379D;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst20 {
  fill: #BCB893;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst21 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bus-sity:hover .bst22 {
  fill: #FFFFFF; }

.bus-sity:hover .bst23 {
  font-size: 6px; }
