.how-it-works {
  height: 910px;
  background-color: #ffff;
}

.box-how-it-works {
  display: grid;
  grid-template-columns: 882px 345px;
}
.box-right-sity{
  /* margin-left: 24px; */
  margin-top: 60px;
  position: relative;
}

.box-left-iphone-btn{
    margin-top: 70px;
   
}

.text-works {
  color: #020102;
  font-family: "Gotham Pro";
  font-size: 38px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase;
  /* Text style for "как это ра" */
  letter-spacing: 1.52px;
}
.works-btn {
  width: 270px;
  height: 71px;
  border-radius: 3px;
  background-color: #f3379d;
  border: 1px solid #0000;
  color: #ffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  font-size: 23px;
font-weight: 500;
line-height: 42px;
}

.sity {
  position: relative;
  margin-top: 30px;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.part {
  opacity: 0;
}

.part:hover {
  opacity: 0.4;
}

