*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
    background-image: url(../img/pattern.jpg);
}

main{
    flex:1 1 auto;
    background-color: red;
}

footer{
    flex: 0 1 auto;
    height: 32px;
    background-color:green;
}
