.caffe-sity:hover{
    
    .plst0{fill:#E88900;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst1{fill:#F9D91C;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst2{fill:#E0BD10;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst3{fill:#F9005A;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst4{fill:#4FEDCE;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst5{fill:#A4C626;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst6{fill:#06AFF9;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst7{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.plst8{font-family:'MyriadPro-Regular';}
    .plst9{font-size:6px;}
    
    .cfst0{fill:#94EAB3;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst1{fill:#69AF80;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst2{fill:#BCAD26;stroke:#000000;stroke-miterlimit:10;}
	.cfst3{fill:#61BF25;stroke:#000000;stroke-miterlimit:10;}
	.cfst4{fill:#9CFF5C;stroke:#000000;stroke-miterlimit:10;}
	.cfst5{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst6{fill:#959FA0;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst7{fill:#B5E5EA;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst8{fill:#3A2307;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst9{fill:#FF891F;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst10{fill:#EAF471;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst11{fill:#CACC56;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst12{font-family:'MyriadPro-Regular';}
	.cfst13{font-size:12.2299px;}
	.cfst14{letter-spacing:1;}
	.cfst15{fill:#99176B;stroke:#000000;stroke-miterlimit:10;}
	.cfst16{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.cfst17{fill:#F3379D;stroke:#000000;stroke-miterlimit:10;}
	.cfst18{fill:#00CFFF;stroke:#002BFF;stroke-width:0.1;stroke-miterlimit:10;}
	.cfst19{fill:#725F0E;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst20{fill:#1194B7;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst21{fill:#E5E025;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst22{fill:#EFEAC5;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst23{fill:#9B9B7C;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst24{fill:#FFFFFF;stroke:#000000;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst25{fill:#E2E2E2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst26{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst27{fill:#EFEAC5;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst28{fill:#F3379D;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst29{fill:#BCB893;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst30{fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.cfst31{fill:#FFFFFF;}
    .cfst32{font-size:6px;}
    
}