.museum-sity:hover{
    .must0{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must1{fill:#B7B7B7;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must2{fill:#919190;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must3{fill:#F4F2BE;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must4{font-family:'Ubuntu-Medium';}
	.must5{font-size:11px;}
	.must6{fill:#99176B;stroke:#000000;stroke-miterlimit:10;}
	.must7{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.must8{fill:#F3379D;stroke:#000000;stroke-miterlimit:10;}
	.must9{fill:#00CFFF;stroke:#002BFF;stroke-width:0.1;stroke-miterlimit:10;}
	.must10{fill:#DEF5FF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must11{fill:#2E42B7;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must12{fill:#39F6FF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must13{fill:#EFEAC5;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must14{fill:#9B9B7C;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must15{fill:#FFFFFF;stroke:#000000;stroke-width:0.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must16{fill:#E2E2E2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must17{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must18{fill:#EFEAC5;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must19{fill:#F3379D;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must20{fill:#BCB893;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must21{fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.must22{fill:#FFFFFF;}
	.must23{font-family:'MyriadPro-Regular';}
	.must24{font-size:6px;}
}