.parking-sity:hover{
    .pst0{fill:#FFFFFF;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst1{fill:#EAEAEA;stroke:#000000;stroke-miterlimit:10;}
	.pst2{fill:#606063;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst3{fill:#EAEAEA;}
	.pst4{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst5{fill:#3A3A3A;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst6{fill:#BDE0E5;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst7{fill:#FFF800;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst8{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst9{stroke:#F7063A;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst10{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.pst11{fill:#9B9FAA;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst12{fill:#F4881C;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst13{fill:#FFFF2C;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst14{fill:#F7B363;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst15{fill:#F7F1A4;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst16{fill:#DCDCE2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst17{font-family:'MyriadPro-Regular';}
	.pst18{font-size:12.2299px;}
	.pst19{letter-spacing:1.1;}
	.pst20{fill:#E2E2E2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst21{fill:#1DA1F2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst22{fill:#9DA1A8;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst23{fill:#BCAD26;stroke:#000000;stroke-miterlimit:10;}
	.pst24{fill:#61BF25;stroke:#000000;stroke-miterlimit:10;}
	.pst25{fill:#9CFF5C;stroke:#000000;stroke-miterlimit:10;}
	.pst26{fill:#99176B;stroke:#000000;stroke-miterlimit:10;}
	.pst27{fill:#F3379D;stroke:#000000;stroke-miterlimit:10;}
	.pst28{fill:#FF0086;stroke:#C90D66;stroke-width:0.1;stroke-miterlimit:10;}
	.pst29{fill:#FFFFFF;}
	.pst30{fill:#F3379D;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst31{fill:#BCB893;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst32{fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.pst33{font-size:6px;}
}