.bank-sity:hover .bnkst0 {
  fill: #E2E2E2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst1 {
  fill: #D1D1D1;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst2 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst3 {
  fill: #FCFCFC;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst4 {
  fill: #BCAD26;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst5 {
  fill: #61BF25;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst6 {
  fill: #9CFF5C;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst7 {
  fill: #697284;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst8 {
  fill: #AFAFAF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst9 {
  fill: #ACC7FC;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst10 {
  fill: #FFAA00; }

.bank-sity:hover .bnkst11 {
  fill: #0BD619; }

.bank-sity:hover .bnkst12 {
  fill: #F70D3F; }

.bank-sity:hover .bnkst13 {
  fill: #99176B;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst14 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst15 {
  fill: #F3379D;
  stroke: #000000;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst16 {
  fill: #FF0086;
  stroke: #C90D66;
  stroke-width: 0.1;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst17 {
  fill: #F72828;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst18 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst19 {
  fill: #F9A7F7;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst20 {
  fill: #A2F8FC;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst21 {
  fill: #FFF915;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst22 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst23 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst24 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst25 {
  fill: #F3379D;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst26 {
  fill: #BCB893;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst27 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst28 {
  fill: #FFFFFF; }

.bank-sity:hover .bnkst29 {
  font-family: 'MyriadPro-Regular'; }

.bank-sity:hover .bnkst30 {
  font-size: 6px; }

.bank-sity:hover .bnkst31 {
  fill: #494836;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst32 {
  fill: #997016;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst33 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst34 {
  fill: #DCF7F6;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.bank-sity:hover .bnkst35 {
  fill: #738BFF;
  stroke: #000000;
  stroke-width: 0.2; }

.bank-sity:hover .bnkst36 {
  font-family: 'Ubuntu-Medium'; }

.bank-sity:hover .bnkst37 {
  font-size: 10.4256px; }
