.caffe-sity:hover .plst0 {
  fill: #E88900;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst1 {
  fill: #F9D91C;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst2 {
  fill: #E0BD10;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst3 {
  fill: #F9005A;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst4 {
  fill: #4FEDCE;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst5 {
  fill: #A4C626;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst6 {
  fill: #06AFF9;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst7 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .plst8 {
  font-family: 'MyriadPro-Regular'; }

.caffe-sity:hover .plst9 {
  font-size: 6px; }

.caffe-sity:hover .cfst0 {
  fill: #94EAB3;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst1 {
  fill: #69AF80;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst2 {
  fill: #BCAD26;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst3 {
  fill: #61BF25;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst4 {
  fill: #9CFF5C;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst5 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst6 {
  fill: #959FA0;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst7 {
  fill: #B5E5EA;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst8 {
  fill: #3A2307;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst9 {
  fill: #FF891F;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst10 {
  fill: #EAF471;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst11 {
  fill: #CACC56;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst12 {
  font-family: 'MyriadPro-Regular'; }

.caffe-sity:hover .cfst13 {
  font-size: 12.2299px; }

.caffe-sity:hover .cfst14 {
  letter-spacing: 1; }

.caffe-sity:hover .cfst15 {
  fill: #99176B;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst16 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst17 {
  fill: #F3379D;
  stroke: #000000;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst18 {
  fill: #00CFFF;
  stroke: #002BFF;
  stroke-width: 0.1;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst19 {
  fill: #725F0E;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst20 {
  fill: #1194B7;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst21 {
  fill: #E5E025;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst22 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst23 {
  fill: #9B9B7C;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst24 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst25 {
  fill: #E2E2E2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst26 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst27 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst28 {
  fill: #F3379D;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst29 {
  fill: #BCB893;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst30 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.caffe-sity:hover .cfst31 {
  fill: #FFFFFF; }

.caffe-sity:hover .cfst32 {
  font-size: 6px; }
