.how-it-works {
    height: 910px;
    width: 100%;
    background-color: #ffff;

}

.box-how-it-works {
    display: grid;
    grid-template-columns: 68.6% 32.4%;
}

.box-right-sity {
    margin-right: 10%;  
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-left-iphone-btn {
    margin-top: 70px;
    height: 100%;
}

.text-works {
    color: #020102;
    font-family: GothamProMedium;
    font-size: 38px;
    font-weight: 500;
    line-height: 52px;
    text-transform: uppercase;
    /* Text style for "как это ра" */
    letter-spacing: 1.52px;
    margin-left: 9%;
}

.works-btn {
    width: 270px;
    height: 71px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 23px;
    font-weight: 500;
    line-height: 42px;
    margin-left: 25px;
}

.sity {
        margin-top: 30px;
        position: relative;
        width: 91%;
        height: 91%;
        margin: 0 auto;
        margin-left: 9%;
}

svg {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.part {
    opacity: 0;
}

.part:hover {
    opacity: 0.4;
}
