.mm:hover .mst0 {
  fill: #94EAB3;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst1 {
  fill: #69AF80;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst2 {
  fill: #EAE8D3;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst3 {
  fill: #AFAC94;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst4 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst5 {
  fill: #C1C1C1;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst6 {
  fill: #B79748;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst7 {
  fill: #5BE2E8;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst8 {
  fill: #A38440;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst9 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst10 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst11 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst12 {
  fill: #EFEAC5;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst13 {
  fill: #F2EB0A;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst14 {
  fill: #AF943E;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst15 {
  fill: #32B23B;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst16 {
  fill: #E2E2E2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst17 {
  fill: #896D33;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst18 {
  fill: #F3379D;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst19 {
  fill: #BCB893;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst20 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst21 {
  fill: #FFFFFF; }

.mm:hover .mst22 {
  font-family: 'MyriadPro-Regular'; }

.mm:hover .mst23 {
  font-size: 6px; }

.mm:hover .mst24 {
  fill: #DDD983;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst25 {
  fill: #69F74F;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst26 {
  fill: #9CF794;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst27 {
  fill: #1AFFFF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst28 {
  fill: #EF1B52;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst29 {
  fill: #EDE2E6;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst30 {
  fill: #ADA5A8;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst31 {
  fill: #DDCED2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst32 {
  fill: #CCA454;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst33 {
  fill: #A88445;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst34 {
  fill: #93733B;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst35 {
  fill: #D9E81A;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst36 {
  fill: #31DD36;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst37 {
  fill: #00B7EF;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst38 {
  fill: #EF2B5F;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst39 {
  fill: #EA7DC9;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst40 {
  fill: #FFAA00;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst41 {
  fill: #45ED51;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst42 {
  fill: #99176B;
  stroke: #000000;
  stroke-miterlimit: 10; }

.mm:hover .mst43 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }

.mm:hover .mst44 {
  fill: #F3379D;
  stroke: #000000;
  stroke-miterlimit: 10; }

.mm:hover .mst45 {
  fill: #00CFFF;
  stroke: #002BFF;
  stroke-width: 0.1;
  stroke-miterlimit: 10; }

.mm:hover .mst46 {
  fill: #FFF915;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst47 {
  fill: #4F3E25;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst48 {
  fill: #423547;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst49 {
  fill: #84B6C1;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst50 {
  fill: #3E3859;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst51 {
  fill: #F2F2F2;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst52 {
  fill: #DBDBDB;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst53 {
  fill: #29B7B7;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst54 {
  fill: #2BD0D8;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst55 {
  fill: #411791; }

.mm:hover .mst56 {
  font-size: 8px; }

.mm:hover .mst57 {
  fill: #6D6D6A;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst58 {
  fill: #4C4C49;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst59 {
  fill: #D1D1D1;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst60 {
  fill: #FFFF00;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst61 {
  fill: #873D99;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst62 {
  fill: #FF0000;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst63 {
  fill: #2AC90E;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst64 {
  fill: #D86E05;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst65 {
  fill: #897642;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst66 {
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst67 {
  fill: #262625;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst68 {
  fill: #F9F928;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst69 {
  fill: #A05F9C;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst70 {
  fill: #514E4A;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.mm:hover .mst71 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }
