@import url(../css/header.css);
@import url(../css/howitworks.css);
@import url(../css/project.css);
@import url(../css/beacon.css);
@import url(../css/business.css);
@import url(../css/contact.css);
@import url(../css/conversion.css);
@import url(../css/media1280-1920.css);
@import url(../css/media-1024-mb.css);
@import url(../css/media-320-640.css);
@font-face {
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: "GothamProMedium";
    src: url(../font/GothamProMedium.ttf);
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../font/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url(../font/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../font/Ubuntu-Bold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    /* background-image: url(../img/pattern.jpg); */
    background-color: #f7f7f7;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 auto;
    height: 64px;
    background-color: #ffff;
    align-items: center;
    display: flex;
}

.tibo{
    display: none;
}

.i {
    text-transform: none;
}

.btn-font-brd-col {
    font-family: Ubuntu-Medium;
    color: #f1f4f6;
    border-radius: 3px;
    background-color: #f3379d;
    border: 1px;
}

.wrapper {
    width: 100%
}

.footer-text {
    color: #242321;
    font-family: Roboto-Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 9%;
}